<div class="table-responsive">
  <%= erb :_loading_spinner %>

  <table class="fw_table table table-striped" id="event_table">
    <thead>
      <tr>
        <th>Tittel</th>
        <th>Dato</th>
        <th>Deltagere</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events && @events.each do |event| %>
        <% if event.marked_for_deletion == 1 %>
          <%= "<tr style='text-decoration: line-through; color:red;'>" %>
        <% else %>
          <%= "<tr>" %>
        <% end %>
        <%= "<td>#{event.name}</td><td>#{event.date.strftime('%d/%m/%-y')}</td>" %>
        <%= "<td>#{event.attendants}</td>" %>
        <% if event.marked_for_deletion == 1 %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-edit btn-danger'></span></a></td>" %>
        <% elsif event.is_locked == 1 %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-lock'></span></a></td>" %>
        <% else %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-edit'></span></a></td>" %>
        <% end %>
        <%= "</tr>" %>
      <% end %>
    </tbody>
  </table>
</div>
