<%# type: :choose || :stats || :toggle   %>
<%= "<option value='none'>-</option>" if type == :toggle %>
<%= "<option value='sum_all'>Samlet</option>" if type == :stats || type == :toggle %>
<%= "<option value='iterate_all'>Alle</option>" if type == :stats || type == :toggle %>
<%= "<option value='iterate_all_with_exceptions'>Alle (med unntak)</option>" if exclusive_option %>
<%= "<option value='iterate_all_district_subs' data-type='DistrictSubcategory' data-aggregated_subcategory_id='48'>Alle bydelsunderkategorier</option>" if district_subs_option %>
<%= "<option value='0'>Alle</option>" if type == :all %>
<%= "<option class='invalid_option' value='0' disabled hidden selected>-- velg --</option>" if type == :choose %>
<%= "<option class='new_item' value='0' disabled hidden selected>-- Lag ny --</option>" if type == :new %>
