<%# type: :choose || :stats || :toggle   %>

<%= "<option value='none'>-</option>" if type == :toggle %>
<%= "<option value='sum_all'>Samlet</option>" if type == :stats || type == :toggle %>
<%= "<option value='iterate_all'>Alle</option>" if type == :stats || type == :toggle %>
<%= "<option value='0'>Alle</option>" if type == :all %>
<%= "<option class='invalid_option' value='0' disabled hidden selected>-- velg --</option>" if type == :choose %>
