<%# Inputs: collection, type, [selected]   %>
<%= erb :_standard_filters, locals: {type: defined?(type) ? type : nil} %>

<% collection.each do |item| %>
  <%= "<option value='#{item.id}'" %>
    <% data.each do |d| %>
      <%= "data-#{d[:name]}='#{item.send(d[:attribute])}' " %>
    <% end if defined?(data) %>
    <%= " selected" if defined?(selected) && item.id.to_s == selected.to_s %>
  <%=  ">#{item.name}</option>" %>
<% end %>
