<script src="/js/generate_query.js"></script>


<div class="row">
  <h4>Hovedtyper
    <button class="list_show"><span class="glyphicon glyphicon-collapse-up" /></button>
    <button class="list_hide"><span class="glyphicon glyphicon-collapse-down" /></button>
  </h4>

<div class="panel panel-default col-xs-4">
<ul class='target list-unstyled' data-type='maintype_id'>
    <li value='sum_all' class='exclusive'>Samlet</li>
</ul>
</div>

<div class="panel panel-default col-xs-4 sourcepanel" hidden>
  <ul class='source list-unstyled' data-type='maintype_id'>
    <li value='iterate_all' class='exclusive'>Alle</li>
    <% event_maintypes.each do |item| %>
      <%= "<li value='#{item.id}'>#{item.label}</li>" %>
    <% end %>
  </ul>
</div>

</div>


<div class="row">
  <h3>Undertyper
    <button class="list_show"><span class="glyphicon glyphicon-collapse-up" /></button>
    <button class="list_hide"><span class="glyphicon glyphicon-collapse-down" /></button>
  </h3>
  <div class="panel panel-default col-xs-4">
    <ul class='target list-unstyled' data-type='subtype_id'>
      <li value='sum_all' class="exclusive">Samlet</li>
    </ul>
  </div>

<div class="panel panel-default col-xs-4 sourcepanel" hidden>
  <ul class='source list-unstyled' data-type='subtype_id'>
    <li value='iterate_all' class='exclusive'>Alle</li>
    <% event_subtypes.each do |es| %>
      <%= "<li value='#{es.id}'>#{es.label}</li>" %>
    <% end %>
  </ul>
</div>

</div>

<div class="row">
  <h3>Kategorier
    <button class="list_show"><span class="glyphicon glyphicon-collapse-up" /></button>
    <button class="list_hide"><span class="glyphicon glyphicon-collapse-down" /></button>
  </h3>

  <div class="panel panel-default col-xs-4">
    <ul class='target list-unstyled' data-type='category_id'>
      <li value='sum_all' class='exclusive'>Samlet</li>
    </ul>
  </div>

<div class="panel panel-default col-xs-4 sourcepanel" hidden>
  <ul class='category source list-unstyled' data-type='category_id'>
    <li value='none' class='exclusive'>---</li>
    <li value='iterate_all' class='exclusive'>Alle</li>
    <% categories.each do |cat| %>
    <%= "<li value='#{cat.id}'>#{cat.name}</li>" %>
    <% end %>
  </ul>
</div>

</div>


<div class="row">
  <h3>Underkategorier
    <button class="list_show"><span class="glyphicon glyphicon-collapse-up" /></button>
    <button class="list_hide"><span class="glyphicon glyphicon-collapse-down" /></button>
  </h3>
  <div class="panel panel-default col-xs-4">
  <ul class='target list-unstyled' data-type='subcategory_id'>
    <li value='none' class='exclusive'>---</li>
  </ul>
  </div>

<div class="panel panel-default col-xs-4 sourcepanel" hidden>
  <ul class='source list-unstyled' data-type='subcategory_id'>
    <li value='sum_all' class='exclusive'>Samlet</li>
    <li value='iterate_all' class='exclusive'>Alle</li>
    <% subcategories.each do |sub| %>
      <%= "<li value='#{sub.id}'>#{sub.name}</li>" %>
    <% end %>
  </ul>
</div>
</div>


<div class="row">
  <h3>Aldersgrupper
    <button class="list_show"><span class="glyphicon glyphicon-collapse-up" /></button>
    <button class="list_hide"><span class="glyphicon glyphicon-collapse-down" /></button>
  </h3>
  <div class="panel panel-default col-xs-4">
  <ul class='target list-unstyled' data-type='age_group_id'>
  <li value='sum_all' class='exclusive'>Samlet</li>
  </ul>
  </div>

<div class="panel panel-default col-xs-4 sourcepanel" hidden>
  <ul class='source list-unstyled' data-type='age_group_id'>
    <li value='none' class='exclusive'>-</li>
    <li value='iterate_all' class='exclusive'>Alle</li>
    <% age_groups.each do |item| %>
      <%= "<li value='#{item.id}'>#{item.name}</li>" %>
    <% end %>
  </ul>
</div>

</div>


<div class="row">
  <h3>Alderskategorier
    <button class="list_show"><span class="glyphicon glyphicon-collapse-up" /></button>
    <button class="list_hide"><span class="glyphicon glyphicon-collapse-down" /></button>
  </h3>

  <div class="panel panel-default col-xs-4">
    <ul class='target list-unstyled' data-type='age_category_id'>
      <li value='none' class='exclusive'>---</li>
    </ul>
  </div>

<div class="panel panel-default col-xs-4 sourcepanel" hidden>
  <ul class='source list-unstyled' data-type='age_category_id'>
    <li value='sum_all' class='exclusive'>Samlet</li>
    <li value='iterate_all' class='exclusive'>Alle</li>
    <% age_categories.each do |item| %>
      <%= "<li value='#{item.id}'>#{item.name}</li>" %>
    <% end %>
  </ul>
</div>

</div>

<form action="/api/query" method="post">
  <label>Navn:
    <input name="name">
  </label>

<input type="text" name="maintype_id" hidden>
<input type="text" name="subtype_id" hidden>
<input type="text" name="category_id" hidden>
<input type="text" name="subcategory_id" hidden>
<input type="text" name="age_category_id" hidden>
<input type="text" name="age_group_id" hidden>


<input type="submit" value="Lagre">
</form>
