<script src="/js/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/manage_events.js"></script>

<!-- Modal -->
<div class="modal fade" id="userguideModal" tabindex="-1" role="dialog" aria-labelledby="userguideModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="userguideModalLabel">Brukerveiledning</h4>
      </div>
      <div class="modal-body">
        <h4 class="underline">Generelt:</h4>
        <ul>
          <li>Tiltakene skal være avtalt på forhånd eller være forhåndsannonsert. Rene medlemsmøter skal ikke telles.</li>
          <li>Vi teller antall personer under den målgruppa arrangementet er beregnet for. Hvis det er et arrangement for barn, teller vi alle frammøtte, både voksne og barn.</li>
          <li>Der en aktivitet har elementer fra flere kategorier skal plasseres der det har hovedtyngden.</li>
        </ul>

        <h4 class="underline">Definisjon typer</h4>
        <% event_types.each do |type| %>
        <%= "<p><b>#{type.name}:</b> #{type.definition}</p>" if type.definition.present? %>
        <% end %>
        <h4  class="underline">Definisjon kategorier</h4>
        <% subcategories.each do |cat| %>
        <%= "<p><b>#{cat.name}:</b> #{cat.definition}</p>" if cat.definition.present? %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>



<% if error %>
<%= '<div class="alert alert-danger" id="server-fail">' %>
  <%=   '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' %>
  <%=   'Serverfeil. Kunne ikke legge til arrangementet. Prøv igjen senere.' %>
  <%=  '</div>' %>
  <% end %>


  <form action="/api/event" method="post" id="event-form" autocomplete="off">
    <%= "<input type='hidden' name='id' value='#{event.id}'>" if @edit %>

    <div class="form-group">
      <% if @edit %>
      <%= "<h3>Redigere arrangement " %>
        <% else %>
        <%= "<h3>Legg til arrangement " %>
          <% end %>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userguideModal">
            <span class="glyphicon glyphicon-info-sign"></span>
          </button></h3>
        </div>

        <%# --- Remove this eventually                 --- %>
        <div class="form-group">
          <div class="alert alert-danger" id="info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            NB! Til forskjell fra tidligere skal nå alle arrangementer for skoler og barnehager
            registreres under egen type. F.eks. skal forfattermøter for skoleklasser legges inn
            under 'Program for klasser' i stedet for 'Arrangement'.
          </div>
        </div>


        <%# --- Dropdown and definition panel for event type                  --- %>
        <div class="form-group panel_group">
          <label for="event_type_selector">Type:</label>
          <button type="button" class="toggleDefinition btn btn-default btn-sm" data-panel-is-open=false>
            <span class="glyphicon glyphicon-eye-open"></span></button>
            <select id="event_type_selector" class="form-control" name="event_type_id">
              <option class="invalid_option" value="" disabled hidden <%= "selected" if !@edit %>>-- velg --</option>
              <% event_types.each do |type| %>
              <%= "<option value='#{type.id}' "%>
                <%= "data-age_groups='#{type.age_group_ids}' " %>
                <%= "data-subcategories='#{type.subcategory_ids}' data-definition='#{type.definition}' " %>
                <%= "selected " if @edit && type.id == event.event_type_id %>
                <%= ">#{type.name}</option>" %>
                <% end %>
              </select>

              <div class="panel panel-default" hidden>
                <div class="panel-body"></div>
              </div>

            </div>


            <%# --- Input for title                                               --- %>
            <div class="form-group">
              <label class="form-control-label" for="name">Tittel:</label>
              <input type="text" class="form-control"
              id="name" name="name" <%= " value='#{event.name}'" if @edit %> >
            </div>

            <%# --- Dropdown for branches                                         --- %>
            <div class="form-group">
              <label for="branch_selector">Sted:</label>
              <select id="branch_selector" class="form-control" name="branch_id">
                <option class="invalid_option" value="0" disabled hidden
                  <%= "selected" if @selected_branch == '0' %>>-- velg --</option>
                <% branches.each do |branch| %>
                <%= "<option value='#{branch.id}' " %>
                  <%= "selected " if branch.id == @selected_branch %>
                  <%= ">#{branch.name}</option>" %>
                  <% end %>
                </select>
              </div>

              <%# --- Dropdown for date picker                                      --- %>
              <div class="form-group">
                <label for="daterange">Dato:</label>
                <input class="form-control" type="text" name="date" id="daterange"
                <%= " value=#{event.date.strftime('%d-%m-%Y')}" if @edit%> >
              </div>


              <%# --- Dropdown and definition panel for subcategory selector        --- %>
              <div class="form-group panel_group">
                <label for="subcategory_selector">Kategori:</label>
                <button type="button" class="toggleDefinition btn btn-default btn-sm" data-panel-is-open=false>
                  <span class="glyphicon glyphicon-eye-open"></span></button>
                  <select id="subcategory_selector" name="subcategory_id" class="form-control">
                    <option class="invalid_option" value="0" disabled hidden<%= " selected" if !@edit %> >-- velg --</option>
                    <% subcategories.each do |subcategory| %>
                    <%= "<option value='#{subcategory.id}' " %>
                      <%= "selected " if @edit && subcategory.id == event.subcategory_id %>
                      <%= "data-has_comment='#{subcategory.has_comment}' " %>
                      <%= "data-is_countable='#{subcategory.is_countable}' " %>
                      <%= "data-definition='#{subcategory.definition}'>#{subcategory.name}</option>" %>
                      <% end %>
                    </select>

                    <div class="panel panel-default" hidden>
                      <div class="panel-body"></div>
                    </div>
                  </div>


                  <%# --- Special: Toggled comment section for select subcategories        --- %>
                  <div class="form-group" id="comment" <%= "style='display: none;'" unless @edit && event.subcategory.has_comment %>  >
                    <label class="form-control-label" for="comment_field">Beskrivelse(valgfri):</label>
                    <input type="text"
                    name="comment" id="comment_field" <%= " value='#{event.comment}'" if @edit %> >
                  </div>


                  <%# --- Dropdown and input for target audience and attendants         --- %>
                  <div class="form-group panel_group">
                    <div class="row">
                      <div class="form-group col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <label for="age_group_selector">Målgruppe:</label>
                    <button type="button" class="toggleDefinition btn btn-default btn-sm" data-panel-is-open=false>
                      <span class="glyphicon glyphicon-eye-open"></span></button>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3 col-md-2 col-lg-2">
                      <label for="attendants" id="attendants_label">Antall frammøtte:</label>
                    </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <select class="form-control input-group-md" id="age_group_selector" name="age_group_id">
                          <option class="invalid_option" value="0" disabled hidden <%= "selected" if !@edit %> >-- velg --</option>
                          <% age_groups.each do |age| %>
                          <%= "<option value=#{age.id} data-definition='#{age.definition}'" %>
                            <%= ' selected' if @edit && age.id == event.age_group_id %>
                            <%= ">#{age.name}</option>" %>
                            <% end %>
                          </select>
                        </div>
                        <div class="form-group col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <input class="form-control input-group-md" type="number" min="0" name="attendants" id="attendants" <%= " value='#{event.attendants}'" if @edit %> >
                      </div>
                      </div>
                      <div class="panel panel-default" hidden>
                        <div class="panel-body"></div>
                      </div>
                    </div>


                    <div class="form-group">
                      <input type="submit" class="btn btn-primary" value="Lagre">
                      <%= "<a class='btn btn-danger' href='/delete_event/#{event.id}'>Slette</a>" if @edit && is_admin %>
                      <label class="btn btn-danger">
                        <input type='checkbox' name='marked_for_deletion'
                        <%= " checked" if @edit && event.marked_for_deletion == 1 %>
                        >Marker for sletting</label>
                    </div>
                  </form>
