

<script src="/js/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/manage_events.js"></script>


<form action="/event" method="post" id="event-form">

  <div class="form-group">
    <label for="title">Tittel:</label>
    <input class="form-control" id="title" name="title" <%= "value='#{event.title}'" if edit %> required>
  </div>

  <div class="form-group">
    <label for="select_branch">Filial:</label>
    <select id="select_branch" class="form-control" name="branch_id" required>
      <option value="" disabled hidden selected>-- velg --</option>
      <% branches.each do |branch| %>
      <% if edit && branch.id == event.branch_id %>
      <%= "<option value='#{branch.id}' selected>#{branch.name}</option>" %>
      <% else %>
      <%= "<option value='#{branch.id}'>#{branch.name}</option>" %>
      <% end %>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="daterange">Dato:</label>
    <input class="form-control" type="text" name="daterange" id="daterange" <%= value="#{event.date}" if edit%>>
  </div>

  <div class="form-group">
    <label for="select_genre">Kategori:</label>
    <select id="select_genre" name="genre_id" class="form-control" required>
      <option value="" disabled hidden selected>-- velg --</option>
      <% genres.each do |genre| %>
      <% if edit && genre.id == event.genre_id %>
      <%= "<option value='#{genre.id}' selected>#{genre.description}</option>" %>
      <% else %>
      <%= "<option value='#{genre.id}'>#{genre.description}</option>" %>
      <% end %>
      <% end %>
    </select>
  </div>
    
  <div class="row">
    <div class="form-group col-xs-12 col-sm-7 col-md-6 col-lg-5">
      <label for="select_category">Legg til målgruppe:</label>
      <div class="row">
        <div class="form-group col-xs-7 col-sm-7 col-md-6 col-lg-5">
          <select class="form-control" id="select_category">
            <% categories.each do |cat| %>
            <%= "<option value='#{cat.id}'>#{cat.description}</option>" %>
            <% end %>
          </select>
        </div>
        <button class="btn btn-success" id="btn_add" type="button">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </div>

  <div id="categories"></div>

  <input type="submit" class="btn btn-primary" value="Lagre">
</form>
