

<script src="/js/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/manage_events.js"></script>




<% if edit %>
<%= "<h3>Redigere arrangement</h3>" %>
<% else %>
<%= "<h3>Legg til arrangement</h3>" %>
<% end %>

<% if error %>
<%= '<div class="alert alert-danger" id="server-fail">' %>
  <%=   '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' %>
  <%=   'Serverfeil. Kunne ikke legge til arrangementet. Prøv igjen senere.' %>
  <%=  '</div>' %>
  <% end %>


<form action="/event" method="post" id="event-form" name="formz">

    <% if edit %>
    <%= "<input type='hidden' name='event_id' value='#{event.id}'>" %>
    <% end %>

    <div class="form-group">
      <label class="form-control-label" for="title">Tittel:</label>
      <input type="text" class="form-control"
      id="title" name="title" <%= "value='#{event.title}'" if edit %> >
    </div>

    <div class="form-group">
      <label for="select_branch">Filial:</label>
      <select id="select_branch" class="form-control" name="branch_id">
        <option value="" disabled hidden selected>-- velg --</option>
        <% branches.each do |branch| %>
        <% if edit && branch.id == event.branch_id %>
        <%= "<option value='#{branch.id}' selected>#{branch.name}</option>" %>
        <% else %>
        <%= "<option value='#{branch.id}'>#{branch.name}</option>" %>
        <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label for="daterange">Dato:</label>
      <input class="form-control" type="text" name="daterange" id="daterange" <%= value="#{event.date}" if edit%>>
    </div>

    <div class="form-group">
      <label for="select_genre">Kategori:</label>
      <select id="select_genre" name="genre_id" class="form-control">
        <option value="" disabled hidden selected>-- velg --</option>
        <% genres.each do |genre| %>
        <% if edit && genre.id == event.genre_id %>
        <%= "<option value='#{genre.id}' selected>#{genre.description}</option>" %>
        <% else %>
        <%= "<option value='#{genre.id}'>#{genre.description}</option>" %>
        <% end %>
        <% end %>
      </select>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-7 col-md-6 col-lg-5">
        <label for="select_category">Legg til aldersgruppe:</label>
        <div class="row">
          <div class="form-group col-xs-7 col-sm-7 col-md-6 col-lg-5">
            <select class="form-control" id="select_category">
              <% categories.each do |cat| %>
              <%= "<option value='#{cat.id}'>#{cat.description}</option>" %>
              <% end %>
            </select>
          </div>
          <button class="btn btn-success" id="btn_add" type="button">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>

    <div id="categories">
      <% if edit %>
      <% event.counts.each do |count| %>
      <%= "<div class='counts' data-category_id='#{count.category_id}'
      data-attendants='#{count.attendants}' data-label='#{categories.find(count.category_id).description}'></div>" %>
      <% end %>
      <% end %>
    </div>

    <input type="submit" class="btn btn-primary" value="Lagre">
  </form>


  <div class="modal" id="theModal">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
  <h4 class="modal-title" id="theModalLabel">Title of the window</h4>
  </div>
  <div class="modal-body">
  Some contents.
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>

  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#theModal">Open Modal</button>
