<script src="/js/manage_locks.js"></script>

<form action="/api/lock" method="post" id="lock-form" autocomplete="off">
<div class="row">
  <%= erb :_branch_selector, locals: {branches: branches}  %>
</div>

<div class="row">
  <%= erb :_datepicker, locals: {from_date: @current_lock_date, to_date: @new_lock_date} %>
</div>

<div class="row">
  <div class="form-group">
  <p>Ant. tellende arrangementer: <%= @unmarked_count.present? ? "#{@unmarked_count}</p>" : "0" %></p>
  <p>Ant. merket for sletting: <%= @marked_count.present? ? "#{@marked_count}</p>" : "0" %> </p>
</div>
</div>

<div class="row">
<div class="form-group">
  <input type="submit" class="btn btn-primary" value="Sett ny lås" <%= " disabled" if !@lockable %>>
</div>
</div>

<div class="table-responsive">
  <table class="fw_table table table-striped" id="event_table">
    <thead>
      <tr>
        <th>Tittel</th>
        <th>Dato</th>
        <th>Deltagere</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <% if event.marked_for_deletion == 1 %>
          <%= "<tr style='text-decoration: line-through; color:red;'>" %>
        <% else %>
          <%= "<tr>" %>
        <% end %>
        <%= "<td>#{event.name}</td><td>#{event.date.strftime('%d/%m/%-y')}</td>" %>
        <%= "<td>#{event.attendants}</td>" %>
        <% if event.marked_for_deletion == 1 %>
        <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-edit btn-danger'></span></a></td>"   %>
        <% elsif event.is_locked == 1 %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-lock'></span></a></td>"   %>
        <% else %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-edit'></span></a></td>"   %>
        <% end %>
        <%= "</tr>" %>
      <% end %>
    </tbody>
  </table>
</div>

</form>
