<script src="/js/manage_locks.js"></script>

<h3>Låsing av periode</h3>
<p>Når en periode låses, blir alle arrangementer stengt for videre endringer og duplikater som er merket
  for sletting fjernet for godt.</p>
<p>Ta det gjerne i flere omganger dersom det er mange arrangementer å holde styr på, og kontakt
  administrator ved evt. feil.</p>
<p>&nbsp;</p>

<form action="/api/lock" method="post" id="lock-form" autocomplete="off">
<div class="row">
  <div class="form-group">
    <label for="branch_selector" class="main">Sted:</label>
    <select id="branch_selector" name="branch_id">
      <option value="">--Velg--</option>
      <% branches.each do |branch| %>
      <%= "<option value='#{branch.id}'" %>
      <%= " selected" if branch.id.to_s == @selected_branch.to_s %>
      <%= ">#{branch.name}</option>" %>
      <% end %>
    </select>
  </div>
</div>

<div class="row">
  <%= erb :_datepicker, locals: {from_date: @from_date, to_date: @to_date} %>
</div>

<div class="row">
  <div class="form-group">
  <p>Ant. tellende arrangementer: <%= @unmarked_count.present? ? "#{@unmarked_count}</p>" : "0" %>
  Ant. merket for sletting: <%= @marked_count.present? ? "#{@marked_count}</p>" : "0" %> </p>
</div>
</div>

<div class="row">
<div class="form-group">
  <input type="submit" class="btn btn-primary" value="Sett ny lås">
</div>
</div>

<%= erb :_event_table %>

</form>
