<script>
$(".nav").find(".active").removeClass("active");
$(".nav-manage_events").addClass("active");
</script>

<script src="/js/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/manage_events.js"></script>


<% if edit %>
<%= "<h3>Redigere arrangement</h3>" %>
<% else %>
<%= "<h3>Legg til arrangement</h3>" %>
<% end %>

<% if error %>
<%= '<div class="alert alert-danger" id="server-fail">' %>
  <%=   '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' %>
  <%=   'Serverfeil. Kunne ikke legge til arrangementet. Prøv igjen senere.' %>
  <%=  '</div>' %>
  <% end %>


  <div class="alert alert-info" id="info">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  NB! Til forskjell fra tidligere skal nå alle arrangementer for skoler og barnehager
  registreres under egen type. F.eks. skal forfattermøter for skoleklasser legges inn
  under 'Program for klasser' i stedet for 'Arrangement'.
  </div>


  <form action="/api/event" method="post" id="event-form" name="formz">
    <%= "<input type='hidden' name='id' value='#{event.id}'>" if edit %>

    <div class="form-group">
      <label for="event_type_selector">Type:</label>
      <select id="event_type_selector" class="form-control" name="event_type_id">
        <option value="" disabled hidden selected>-- velg --</option>
        <% event_types.each do |type| %>
        <%= "<option value='#{type.id}' "%>
          <%= "data-age_groups='#{type.age_group_array}' " %>
          <%= "data-subcategories='#{type.subcategory_array}' " %>
          <%= "selected " if edit && type.id == event.event_type_id %>
          <%= ">#{type.label}</option>" %>
          <% end %>
      </select>
    </div>



    <div class="form-group">
      <label class="form-control-label" for="name">Tittel:</label>
      <input type="text" class="form-control"
        id="name" name="name" <%= " value='#{event.name}'" if edit %> >
    </div>


    <div class="form-group">
      <label for="branch_selector">Sted:</label>
      <select id="branch_selector" class="form-control" name="branch_id">
      <option value="" disabled hidden selected>-- velg --</option>
      <% branches.each do |branch| %>
        <%= "<option value='#{branch.id}' " %>
          <%= "selected " if edit && branch.id == event.branch_id %>
          <%= ">#{branch.name}</option>" %>
      <% end %>
      </select>
    </div>

    <div class="form-group">
      <label for="daterange">Dato:</label>
      <input class="form-control" type="text" name="date" id="daterange"
      <%= " value=#{event.date.strftime('%d-%m-%Y')}" if edit%> >
    </div>


    <div class="form-group">
      <label for="subcategory_selector">Kategori:</label>
      <button type="button" id="show_definition" class="btn btn-default">
        <span class="glyphicon glyphicon-eye-open"></span> definisjon</button>
        <button type="button" id="hide_definition" class="btn btn-default">
          <span class="glyphicon glyphicon-eye-close"></span> definisjon</button>
          <select id="subcategory_selector" name="subcategory_id" class="form-control">
            <option value="" disabled hidden <%= "selected" if !edit %> >-- velg --</option>
            <% subcategories.each do |subcategory| %>
            <%= "<option value='#{subcategory.id}' class='#{subcategory.type_name}' " %>
              <%= "selected " if edit && subcategory.id == event.subcategory_id %>
              <%= "data-definition='#{subcategory.definition}'>#{subcategory.name}</option>" %>
              <% end %>
            </select>

            <div id="definition_panel" class="panel panel-default">
              <div class="panel-body"></div>
            </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-7 col-md-6 col-lg-5">
        <label for="age_group_selector">Målgruppe:</label>
        <div class="row">
          <div class="form-group col-xs-7 col-sm-7 col-md-6 col-lg-5">
            <select class="form-control" id="age_group_selector">
              <% age_groups.each do |age| %>
              <%= "<option value='#{age.id}'>#{age.name}</option>" %>
              <% end %>
            </select>
          </div>
          <input type="text">
        </div>
      </div>
    </div>


  </form>
  <input type="button" id="submit_button" class="btn btn-primary" value="Lagre">
