<% url_string = is_event ? "event" : "template" %>
<% form_type_ui_string = is_event ? "arrangement" : "mal" %>

<h3>Kvittering</h3>

<p>Arrangementet ble lagret med følgende data:</p>
<table class="table table-sm table-striped table-responsive">
  <%= "<tr><td>Tittel:</td><td>#{item.name}</td></tr>" %>
  <%= "<tr><td>Sted:</td><td>#{item.branch.name}</td></tr>" %>
  <%= "<tr><td>Dato:</td><td>#{item.date.strftime('%m/%d/%Y')}</td></tr>" if is_event %>
  <%= "<tr><td>Type:</td><td>#{item.event_type.name}</td></tr>" %>
  <%= "<tr><td>FUBIAK-kategori:</td><td>#{item.district_category.name}</td></tr>" if item.district_category %>
  <%= "<tr><td>Kategori:</td><td>#{item.category.name}</td></tr>" %>
  <%= "<tr><td>Underkategori:</td><td>#{item.subcategory.name}</td></tr>" %>
  <%= "<tr><td>Målgruppe:</td><td>#{item.age_group.name}</td></tr>" %>
  <%= "<tr><td>Antall:</td><td>#{item.attendants}</td></tr>" if is_event %>
</table>

<%= %Q(
<a class='btn btn-success btn-md' href='/' role='button'>OK <span class='glyphicon glyphicon-ok'></span></a>
<a class='btn btn-danger btn-md' href='/edit_#{url_string}/#{item.id}'
  role='button'>Endre <span class='glyphicon glyphicon-edit'></span></a>
<a class='btn btn-primary btn-md' href='/manage_#{url_string}'
  role='button'>Legg til ny <span class='glyphicon glyphicon-plus'></span></a>
) %>

<%= %Q(
<a class='btn btn-primary btn-md' href='/clone_#{url_string}/#{item.id}'
  role='button'>Lag klone <span class='glyphicon glyphicon-duplicate'></span></a>
  ) if is_event %>

<% if is_event && templates.present? %>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Ny fra mal
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% templates.each do |template| %>
      <%= "<li><a href='/add_event/#{template.id}'>#{template.name}</a></li>" %>
    <% end %>
  </ul>
</div>
<% end %>
