<!-- Include Date Range Picker -->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/statistics.js"></script>
<script src="/js/table_to_csv.js"></script>

<link rel="stylesheet" type="text/css" href="/css/tableexport.min.css" />
<script src="/js/xlsx.core.min.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/tableexport.min.js"></script>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#freestyle">Egendefinert</a></li>
  <li><a data-toggle="tab" href="#predefined">Forhåndsgenerert</a></li>
  <li><a data-toggle="tab" href="#user_guide">Veiledning</a></li>
</ul>


<div class="tab-content">

  <div id="user_guide" class="tab-pane fade">
    <div class="panel panel-default">
  <div class="panel-body" style="width: 60%;">


    <h2>Typer og kategorier</h2>
    <ul>

<li><b>Type og undertype:</b>
  Vi skiller mellom tre (hoved)typer: Arrangement, Arrangement for klasser og barnehager,
   og Utstillinger. Disse inndeles så i undertyper, som feks Arrangement i egen regi
    og Arrangement i ekstern regi.</li>
<p></p>
<li><b>Kategori og underkategori:</b>
 Kategorier gir en bred inndeling tilpasset kommunens krav til rapportering,
  mens underkategorier er en fininndeling tilpasset våre interne behov.
   Brukere som legger inn et arrangement oppgir kun undertype og underkategori,
    og systemet avleder så kategorien på bakgrunn av disse opplysningene.</li>
</ul>

<h2>Generering av rapporter</h2>

<p>Statistikkgeneratoren er fleksibel, men kanskje ikke veldig intuitiv...
   Her kommer et forsøk på å forklare:</p>

<p>Når periode er valgt, kan rapport-tilfanget tilpasses gjennom valg av sted,
   type, undertype, og kategori eller underkategori. For hver av disse kan man velge:</p>

<ul>
<li><b>Samlet</b> - alt legges sammen under ett (Eks: alle filialer regnes som en)</li>
<li><b>Alle</b> - lager en linje for hver oppføring (Eks: en linje for hver filial)</li>
<li><b>Individuell</b> - lager kun linje for valgte (Eks: Smestad)</li>
</ul>
<p>Bemerk at man må velge type før valg av undertype blir synlig.</p>

<p>Ved å kombinere disse, kan man få dekket de fleste rapportbehov.
   Man kan ikke ødelegge noe ved å søke, så det er bare å prøve seg frem.</p>

<p>Noen eksempler:</p>

<ul><li><b>Arrangement for barnehager:</b>
 Velg type: 'Arrangement for klasser og barnehager', deretter 'Barnehager'
  fra radio-menyen som dukker opp til høyre. Velg deretter
   Alle fra kategori og trykk på "Hent".</li>
<p></p>
<li><b>Alle arrangement utenom klassebesøk og bibliotekinfo/omvisning:</b>
 Velg type: 'Arrangement' og kategori: 'Alle', trykk deretter på 'Hent'.
 Deretter kan klassebesøk og bibliotekinfo klikkes bort fra resultatlisten
 vha den røde fjerningsknappen.</li>
 </ul>

 NB! Systemet er pt ikke helt ferdig, så flere muligheter vil bli lagt til på sikt.
  </div>
</div>
</div>


  <div id="predefined" class="tab-pane fade">
    <h2>Kommer snart</h2>
  </div>


  <div id="freestyle" class="tab-pane fade in active">

    <form class="form-inline" role="form" id="query_form" autocomplete="off">
      <div class="row">
        <%= erb :_quickpick  %>
      </div>


      <div class="row">
        <div class="form-group">
          <label for="daterange_from" class="main">Periode:</label>
          <input type="text" id="daterange_from" class="period" name="from_date">
          <input type="text" id="daterange_to" class="period" name="to_date">
          <input type="text" id="period_label" name="period_label">
        </div>
      </div>

      <div class="row">
        <%= erb :_branch_selector, locals: {branches: branches}  %>
      </div>


      <%# --- Dropdown and radio buttons for event types                  --- %>
      <div class="row">
        <div class="form-group">
          <label for="event_maintype_selector" class="main">Type/undertype:</label>
          <select id="event_maintype_selector" name="maintype_id">
            <option value="sum_all" data-subtype_name='sum_all'>Samlet</option>
            <option value="iterate_all" data-subtype_name='iterate_all'>Alle</option>
            <% event_maintypes.ordered_view.each do |type| %>
            <%= %Q(<option value='#{type.id}' data-subtype_name='#{type.name}'
                data-subcategories='#{type.subcategory_ids}'
                data-categories='#{type.category_ids}'>#{type.label}</option>) %>
            <% end %>
          </select>
        </div>


        <div class="form-group">
          <div class='subtype_radio' id='sum_all'>
            <label class='radio-inline'><input type='radio' value='sum_all'
              name='subtype_id'>Samlet</label>
          </div>

          <div class='subtype_radio' id='iterate_all'>
            <label class='radio-inline'><input type='radio' value='sum_all'
               name='subtype_id'>Samlet</label>
            <label class='radio-inline'><input type='radio' value='iterate_all'
               name='subtype_id'>Alle</label>
          </div>

          <% event_maintypes.each do |type| %>
          <%= "<div class='subtype_radio' id='#{type.name}'>" %>
            <%=  "<label class='radio-inline'><input type='radio' value='sum_all'
                  name='subtype_id'>Samlet</label>
                <label class='radio-inline'><input type='radio' value='iterate_all'
                  name='subtype_id'>Alle</label>" %>
            <% type.event_types.each do |et| %>
            <%= "<label class='radio-inline'><input type='radio' value='#{et.event_subtype.id}'
                  name='subtype_id' data-categories='#{et.category_ids}' data-subcategories='#{et.subcategory_ids}'>#{et.event_subtype.label}</label>" %>
            <% end %>
            <%= "</div>" %>
            <% end %>
          </div>
        </div>


      <%# --- Dropdowns for categories and subcategories                 --- %>
        <div class="form-group row" id="category_row">
          <label for="category_selector" class="main">Kategori/underkategori:</label>

          <select id="category_selector" class="category_selector" name="category_id">
            <%= erb :_category_options, locals: {cats: categories}  %>
          </select>

          <select id="subcategory_selector" class="category_selector" name="subcategory_id">
            <%= erb :_category_options, locals: {cats: subcategories}  %>
          </select>
        </div>


        <%# --- Dropdowns for target audiences                 --- %>
        <div class="row">
          <div class="form-group" id="target_audience_row">
            <label for="category_selector" class="main">Aldersgruppe/kategori:</label>

            <select id="age_group_selector" class="target_audience_selector" name="age_group_id">
              <%= erb :_category_options, locals: {cats: age_groups}  %>
            </select>

            <select id="age_category_selector" class="target_audience_selector" name="age_category_id">
              <%= erb :_category_options, locals: {cats: age_categories}  %>
            </select>
          </div>
        </div>


        <%# --- Buttons                --- %>
        <div class="row">
          <div class="form-group">
            <button type="button" class="btn btn-secondary" id="submit">Hent</button>
            <button type="button" class="btn btn-secondary" id="clear">Tøm liste</button>
          </div>
        </div>

      </form>

      <div id='container' style='min-width: 600px;display:none; height: 600px; margin: 0 auto'></div>

      <div class="table-responsive">
        <table class="table table-striped" id="stats_table">
          <thead class="thead-inverse">
            <tr>
              <th>Periode</th>
              <th>Sted</th>
              <th>Kategori</th>
              <th data-is-accumulative=true>Barn/unge</th>
              <th data-is-accumulative=true>Voksne</th>
              <th data-is-accumulative=true>Samlet</th>
              <th data-is-accumulative=true>Ant. arr</th>
              <th>Type</th>
              <th>Undertype</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>


  </div>
