<script>
//$(".nav").find(".active").removeClass("active");
$(".nav-statistics").addClass("active");
</script>

<!-- Include Date Range Picker -->
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/css/daterangepicker.css" />

<script src="/js/statistics.js"></script>
<script src="/js/table_to_csv.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#freestyle">Egendefinert</a></li>
  <li><a data-toggle="tab" href="#predefined">Forhåndsgenerert</a></li>
  <li><a data-toggle="tab" href="#user_guide">Veiledning</a></li>
</ul>




<div class="tab-content">

  <div id="user_guide" class="tab-pane fade">
    <h2>Kommer snart</h2>
  </div>

  <div id="predefined" class="tab-pane fade">
    <h2>Kommer snart</h2>
  </div>


  <div id="freestyle" class="tab-pane fade in active">

    <form class="form-inline" role="form" id="query_form" autocomplete="off">
      <div class="row">
        <%= erb :_quickpick  %>
      </div>


      <div class="row">
        <div class="form-group">
          <label for="daterange_from" class="main">Periode:</label>
          <input type="text" id="daterange_from" class="period" name="from_date">
          <input type="text" id="daterange_to" class="period" name="to_date">
          <input type="text" id="period_name">
        </div>
      </div>

      <div class="row">
        <%= erb :_branch_selector, locals: {branches: branches}  %>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="event_maintype_selector" class="main">Type/undertype:</label>
          <select id="event_maintype_selector" name="maintype_id">
            <option value="sum_all" data-subtype_name='sum_all'>Samlet</option>
            <option value="iterate_all" data-subtype_name='iterate_all'>Alle</option>
            <% event_maintypes.ordered_view.each do |type| %>
            <%= %Q(<option value='#{type.id}' data-subtype_name='#{type.name}'
                data-subcategories='#{type.subcategory_ids}'
                data-categories='#{type.category_ids}'>#{type.label}</option>) %>
            <% end %>
          </select>
        </div>


        <div class="form-group">
          <div class='subtype_radio' id='sum_all'>
            <label class='radio-inline'><input type='radio' value='sum_all'
              name='subtype_id'>Samlet</label>
          </div>

          <div class='subtype_radio' id='iterate_all'>
            <label class='radio-inline'><input type='radio' value='sum_all'
               name='subtype_id'>Samlet</label>
            <label class='radio-inline'><input type='radio' value='iterate_all'
               name='subtype_id'>Alle</label>
          </div>

          <% event_maintypes.each do |type| %>
          <%= "<div class='subtype_radio' id='#{type.name}'>" %>
            <%=  "<label class='radio-inline'><input type='radio' value='sum_all'
                  name='subtype_id'>Samlet</label>
                <label class='radio-inline'><input type='radio' value='iterate_all'
                  name='subtype_id'>Alle</label>" %>
            <% type.event_types.each do |et| %>
            <%= "<label class='radio-inline'><input type='radio' value='#{et.event_subtype.id}'
                  name='subtype_id' data-categories='#{et.category_ids}' data-subcategories='#{et.subcategory_ids}'>#{et.event_subtype.label}</label>" %>
            <% end %>
            <%= "</div>" %>
            <% end %>
          </div>
        </div>


        <div class="form-group row" id="category_row">
          <label for="category_selector" class="main">Kategori/underkategori:</label>
          <select id="category_selector" class="category_selector" name="category_id">
            <option value="none" hidden disabled>-</option>
            <option value="sum_all">Samlet</option>
            <option value="iterate_all">Alle</option>
            <% categories.each do |category| %>
            <%= "<option value='#{category.id}' data-subcategories='#{category.subcategory_ids}'>#{category.name}</option>" %>
            <% end %>
          </select>



          <select id="subcategory_selector" class="category_selector" name="subcategory_id">
            <option value="none">-</option>
            <option value="sum_all">Samlet</option>
            <option value="iterate_all">Alle</option>
            <% subcategories.each do |subcategory| %>
            <%= "<option value='#{subcategory.id}'>#{subcategory.name}</option>" %>
            <% end %>
          </select>

        </div>


        <div class="row">
          <div class="form-group">
            <button type="button" class="btn btn-secondary" id="submit">Hent</button>
            <button type="button" class="btn btn-secondary" id="clear">Tøm liste</button>
            <a href="#" id ="copy_to_clipboard" class='btn btn-secondary'>Til utklippstavle</a>
            <a id="demo" href="#" tabindex="0" class="btn btn-success" data-toggle="popover" title="Line Chart">Click for Chart</a>

          </div>
        </div>

      </form>

      <div id='container' style='min-width: 600px;display:none; height: 600px; margin: 0 auto'></div>

      <div class="table-responsive">
        <table class="table table-striped" id="stats_table">
          <thead class="thead-inverse">
            <tr>
              <th>Periode</th>
              <th>Sted</th>
              <th>Kategori</th>
              <th>Barn/unge</th>
              <th>Voksne</th>
              <th>Samlet</th>
              <th>Ant. arr</th>
              <th>Type</th>
              <th>Undertype</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>


  </div>
