<link href="/css/custom.css" rel="stylesheet">
<script src="/js/view_events.js"></script>

  <label for="branch_selector">Sted:</label>
  <select id="branch_selector" name="branch_id">
    <option value="" selected >-- Alle --</option>
    <% branches.each do |branch| %>
    <%= "<option value='#{branch.id}'"%>
    <%= " selected='selected'" if branch.id.to_s == @branch.to_s %>
    <%= ">#{branch.name}</option>" %>
    <% end %>
  </select>

  <label>Vis filtre</label>
  <input type="checkbox" input="show_filters" id="filter_switch" <%= "checked" if @show_filters %>>
  <div id="filter_bar" <%= "hidden" unless @show_filters %>>
    <div class="input-group">
      <label for="month_selector">Periode:</label>
      <select id="month_selector">
        <option value="" selected >--</option>
        <% for value in 1..12 %>
        <%= "<option value='#{value}'"%>
          <%= " selected='selected'" if value == @month.to_i %>
          <%= ">#{@month_names[value]}</option>" %>
        <% end %>
      </select>

    <label>Målgruppe:</label>
    <input type="radio" name="audience" value="all" class="filter_radio" <%= "checked" if @audience == 'all'%>>Alle
    <input type="radio" name="audience" value="adult" class="filter_radio" <%= "checked" if @audience == 'adult'%>>Voksne
    <input type="radio" name="audience" value="young" class="filter_radio" <%= "checked" if @audience == 'young'%>>Barn/unge

    <label>Per side:</label>
    <input type="radio" name="per_page" value="10" class="filter_radio" <%= "checked" if @per_page == '10'%>>10
    <input type="radio" name="per_page" value="20" class="filter_radio" <%= "checked" if @per_page == '20'%>>20
    <input type="radio" name="per_page" value="50" class="filter_radio" <%= "checked" if @per_page == '50'%>>50
    <input type="radio" name="per_page" value="200" class="filter_radio" <%= "checked" if @per_page == '200'%>>Maks
  </div>

    <div class="input-group">
  <label>Sorter etter:</label>
  <input type="radio" name="sort_by" value="reg" class="filter_radio" <%= "checked" if @sort_by == 'reg'%>>Reg.dato
  <input type="radio" name="sort_by" value="event"  class="filter_radio" <%= "checked" if @sort_by == 'event'%>>Arr.dato

    <div class="btn-group" data-toggle="buttons">
      <label class='btn btn-outline-primary <%= " active" if @sort_order == 'asc'%>'>
        <input type="radio" name="sort_order" value="asc" autocomplete="off" class="filter_radio"
        <%= " checked" if @sort_order == 'asc'%>>
        <span class='glyphicon glyphicon-triangle-top'></span>
      </label>
      <label class='btn btn-outline-primary <%= " active" if @sort_order == 'desc'%>'>
        <input type="radio" name="sort_order" value="desc" autocomplete="off" class="filter_radio"
        <%= " checked" if @sort_order == 'desc'%>>
        <span class='glyphicon glyphicon-triangle-bottom'></span>
      </label>
    </div>

    <label>Vis slettbare:</label>
    <input type="radio" name="show_marked" value="all" class="filter_radio" <%= "checked" if @show_marked == 'all'%>>alle
    <input type="radio" name="show_marked" value="none" class="filter_radio" <%= "checked" if @show_marked == 'none'%>>ingen
    <input type="radio" name="show_marked" value="only" class="filter_radio" <%= "checked" if @show_marked == 'only'%>>bare

  </div>
</div>



  <div class="table-responsive" id="mytable">
    <table class="fw_table table table-striped" id="event_table">

      <thead>
        <tr>
          <th>Tittel</th>
          <th>Dato</th>
          <th>Deltagere</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% events.each do |event| %>
          <%= "<tr>" %>
          <%= "<td>#{event.name}</td><td>#{event.date.strftime('%d/%m/%-y')}</td>" %>
          <%= "<td>#{event.attendants}</td>" %>
          <% if event.marked_for_deletion == 1 %>
          <%= "<td><a href='/delete_event/#{event.id}'><span class='glyphicon glyphicon-remove btn-danger'></span></a></td>"   %>
          <% else %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-edit'></span></a></td>"   %>
          <% end %>
          <%= "</tr>" %>
          <% end %>
        </tbody>
      </table>
    </div>


    <div class="row">
      <div class="col col-xs-4">
        <%= "Side #{page_number} av #{number_of_pages}" %>
      </div>
      <div class="col col-xs-8">
        <nav aria-label="Page navigation">
          <ul class="pagination pull-left">

            <li class="page-item">
          <%= "<a class='page-link' href='#{@link}1' aria-label='Første'>"%>
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Første</span>
              </a>
            </li>


          <% if page_number > 1 %>
          <%= "<li class='page-item'>" %>
          <%= "<a class='page-link' href='#{@link}#{(page_number - 1)}' aria-label='Forrige'>" %>
          <%= "<span aria-hidden='true'><</span>" %>
          <%= "<span class='sr-only'>Forrige</span>" %>
          <%= "</a></li>" %>
          <% end %>

          <% @page_array.each do |i| %>
          <%= "<li class='page-item'><a class='page-link' href='#{@link}#{i}'>#{i}</a></li>" unless i == page_number  %>
          <%= "<li class='page-item active'><a class='page-link' href='#{@link}#{i}'>#{i}</a></li>" if i == page_number  %>
          <% end %>


            <% if page_number < number_of_pages %>
            <%= "<li class='page-item'>" %>
            <%= "<a class='page-link' href='#{@link}#{(page_number + 1)}' aria-label='Neste'>" %>
            <%= "<span aria-hidden='true'>></span>" %>
            <%= "<span class='sr-only'>Neste</span>" %>
            <%= "</a></li>" %>
            <% end %>


            <li class="page-item">
          <%= "<a class='page-link' href='#{@link}#{number_of_pages}' aria-label='Siste'>"%>
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siste</span>
              </a>
            </li>
        </ul>
      </nav>
      </div>
    </div>
