<script>
$(".nav").find(".active").removeClass("active");
$(".nav-view_events").addClass("active");
</script>


<script src="/js/view_events.js"></script>

<% if success %>
<%= '<div class="alert alert-success" id="server-fail">' %>
  <%=   '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' %>
  <%=   'Arrangementet ble lagret og alt er vel' %>
  <%=  '</div>' %>
  <% end %>



  <label for="branch_selector">Sted:</label>
  <select id="branch_selector" name="branch_id">
    <option value="0" selected>-- Alle --</option>
    <% branches.each do |branch| %>
    <%= "<option value='#{branch.id}'>#{branch.name}</option>" %>
    <% end %>
  </select>



  <div class="table-responsive">
    <table class="fw_table table table-striped" id="event_table">

      <thead>
        <tr>
          <th>Tittel</th>
          <th>Dato</th>
          <th>Deltagere</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% events.each do |event| %>
        <%= "<tr class='#{event.branch.id}'>" %>
          <%= "<td>#{event.name}</td><td>#{event.date.strftime('%d/%m/%-y')}</td>" %>
          <%= "<td>#{event.counts.sum(:attendants)}</td>" %>
          <%= "<td><a href='/edit_event/#{event.id}'><span class='glyphicon glyphicon-edit'></span></a></td>"   %>
          <%= "</tr>" %>
          <% end %>

        </tbody>

      </table>
    </div>


    <div class="row">
      <div class="col col-xs-4">
        <%= "Side #{page_number} av #{number_of_pages}" %>
      </div>
      <div class="col col-xs-8">
        <ul class="pagination hidden-xs pull-right">
          <% for i in 1..number_of_pages %>
          <%= "<li><a href='/view_events?page_number=#{i}'>#{i}</a></li>" %>
          <% end %>
        </ul>
        <ul class="pagination visible-xs pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
