<link href="/css/custom.css" rel="stylesheet">
<script src="/js/view_events.js"></script>

<div class="row form-inline">
  <div class="input-group">
    <label for="branch_selector" class="radio-inline">Sted:</label>
    <select id="branch_selector" name="branch_id">
      <option value="" selected >-- Alle --</option>
      <% branches.each do |branch| %>
      <%= "<option value='#{branch.id}'"%>
        <%= " selected='selected'" if branch.id.to_s == @branch.to_s %>
        <%= ">#{branch.name}</option>" %>
        <% end %>
      </select>

      <label class="checkbox-inline">Vis filtre</label>
      <input type="checkbox" id="filter_switch" <%= "checked" if @show_filters %>>
    </div>

      <div class="input-group">
        <input type="text" class="form-control" id="search_box" placeholder="Søk&hellip;"
        <%= " value='#{@search}'" %>>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" id="clear_search">
            <span class='glyphicon glyphicon-remove'></span>
          </button>
        </span>
    </div>
  </div>

  <div id="filter_bar" <%= "hidden" unless @show_filters %>>
    <div class="row">
      <div class="input-group">
        <label for="month_selector" class='radio-inline'>Periode:</label>
        <select id="month_selector">
          <option value="" selected >--</option>
          <% for value in 1..12 %>
          <%= "<option value='#{value}'"%>
            <%= " selected='selected'" if value == @month.to_i %>
            <%= ">#{@month_names[value]}</option>" %>
            <% end %>
          </select>
          <select id="year_selector">
            <option value="" selected >2017</option>
            </select>
        </div>
      </div>

      <div class="row form-inline">
          <div class="input-group col-lg-3">
            <label class='radio-inline'>Målgruppe:</label>
            <input type="radio" name="audience" value="all" class="filter_radio" <%= "checked" if @audience == 'all'%>>Alle
            <input type="radio" name="audience" value="adult" class="filter_radio" <%= "checked" if @audience == 'adult'%>>Voksne
            <input type="radio" name="audience" value="young" class="filter_radio" <%= "checked" if @audience == 'young'%>>Barn/unge
          </div>

          <div class="input-group col-lg-3">
            <label class='radio-inline'>Per side:</label>
            <input type="radio" name="per_page" value="10" class="filter_radio" <%= "checked" if @per_page == '10'%>>10
            <input type="radio" name="per_page" value="20" class="filter_radio" <%= "checked" if @per_page == '20'%>>20
            <input type="radio" name="per_page" value="50" class="filter_radio" <%= "checked" if @per_page == '50'%>>50
            <input type="radio" name="per_page" value="200" class="filter_radio" <%= "checked" if @per_page == '200'%>>Maks
          </div>
      </div>

      <div class="row form-inline">
        <div class="input-group col-lg-3">
          <label class='radio-inline' for="sort_selector">Sorter etter:</label>
          <select id="sort_selector">
            <option data-sort_by="reg" data-sort_order="desc">Reg.dato synkende</option>
            <option data-sort_by="reg" data-sort_order="asc"
              <%= " selected" if @sort_by == 'reg' && @sort_order == 'asc' %>
            >Reg.dato stigende</option>
            <option data-sort_by="event" data-sort_order="desc"
              <%= " selected" if @sort_by == 'event' && @sort_order == 'desc' %>
            >Arr.dato synkende</option>
            <option data-sort_by="event" data-sort_order="asc"
                <%= " selected" if @sort_by == 'event' && @sort_order == 'asc' %>
            >Arr.dato stigende</option>
          </select>
        </div>

        <div class="input-group col-lg-3">
          <label class='radio-inline'>Vis slettbare:</label>
          <input type="radio" name="show_marked" value="none" class="filter_radio" <%= "checked" if @show_marked == 'none'%>>ingen
          <input type="radio" name="show_marked" value="all" class="filter_radio" <%= "checked" if @show_marked == 'all'%>>alle
          <input type="radio" name="show_marked" value="only" class="filter_radio" <%= "checked" if @show_marked == 'only'%>>bare
        </div>
      </div>
    </div>


    <div class="table-responsive" id="mytable">
      <div class='table-loading-overlay' id='loadbar' hidden>
        <div class='table-loading-inner' style='padding-top: 300px;'>
          <div class='col-xs-4 col-xs-offset-4'>
            <div class='progress'>
              <div class='progress-bar progress-bar-striped progress-bar-streit active' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%'>
                <span class='sr-only'>Vennligst vent...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    <table class="fw_table table table-striped" id="event_table">
      <thead>
        <tr>
          <th>Tittel</th>
          <th>Dato</th>
          <th>Deltagere</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        </tbody>
      </table>
    </div>


    <div class="row" id="page_navigation">
    </div>
